In [1]:
import pandas as pd
import numpy as np
import pycountry

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [4]:
data["year"].unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [6]:
country=data["country"].unique().tolist()

In [7]:
country_mapping = {
    'Congo, Dem. Rep.': 'Congo, The Democratic Republic of the',
    'Congo, Rep.': 'Congo',
    "Cote d'Ivoire": 'Côte d\'Ivoire',
    'Hong Kong, China': 'Hong Kong',
    'Iran': 'Iran, Islamic Republic of',
    'Korea, Dem. Rep.': 'Korea, Democratic People\'s Republic of',
    'Korea, Rep.': 'Korea, Republic of',
    'Reunion': 'Réunion',
    'Swaziland': 'Eswatini',
    'Syria': 'Syrian Arab Republic',
    'West Bank and Gaza': 'Palestine, State of',
    'Yemen, Rep.': 'Yemen',
}

valid_country_names = []
invalid_country_names = []

for country_name in country:
    if country_name in country_mapping:
        valid_country_names.append(pycountry.countries.search_fuzzy(country_mapping[country_name])[0].alpha_3)
    else:
        valid_country_names.append(pycountry.countries.search_fuzzy(country_name)[0].alpha_3)

In [8]:
valid_country_names

['AFG',
 'ALB',
 'DZA',
 'AGO',
 'ARG',
 'AUS',
 'AUT',
 'BHR',
 'BGD',
 'BEL',
 'BEN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'BGR',
 'BFA',
 'BDI',
 'KHM',
 'CMR',
 'CAN',
 'CAF',
 'TCD',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COD',
 'COG',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CZE',
 'DNK',
 'DJI',
 'DOM',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'ETH',
 'FIN',
 'FRA',
 'GAB',
 'GMB',
 'DEU',
 'GHA',
 'GRC',
 'GTM',
 'GIN',
 'GNB',
 'HTI',
 'HND',
 'HKG',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JOR',
 'KEN',
 'PRK',
 'KOR',
 'KWT',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'MDG',
 'MWI',
 'MYS',
 'MLI',
 'MRT',
 'MUS',
 'MEX',
 'MNG',
 'MNE',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NPL',
 'NLD',
 'NZL',
 'NIC',
 'NGA',
 'NGA',
 'NOR',
 'OMN',
 'PAK',
 'PAN',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'PRI',
 'REU',
 'ROU',
 'RWA',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SLE',
 'SGP',
 'SVK',
 'SVN',
 'SOM',
 'ZAF',
 'ESP',
 'LKA',
 'SDN',
 'SWZ',
 'SWE',
 'CHE',
 'SYR',
 'TWN',
 'TZA',
 'THA',
 'TGO',
 'TTO',
 'TUN',
 'TUR',
 'UGA',
 'GBR',
 'USA',
 'URY',
 'VEN',
 'VNM',
 'PSE',
 'YEM',
 'ZMB',
 'ZWE']

In [9]:
x = pd.DataFrame()

In [10]:
x["ISO"]=valid_country_names

In [11]:
x["countries"]=country

In [12]:
x[x["countries"]=='Congo, Dem. Rep.']

    ISO         countries
27  COD  Congo, Dem. Rep.

In [13]:
data[data["country"]=='Congo, Dem. Rep.']

              country  year         pop continent  lifeExp   gdpPercap
324  Congo, Dem. Rep.  1952  14100005.0    Africa   39.143  780.542326
325  Congo, Dem. Rep.  1957  15577932.0    Africa   40.652  905.860230
326  Congo, Dem. Rep.  1962  17486434.0    Africa   42.122  896.314634
327  Congo, Dem. Rep.  1967  19941073.0    Africa   44.056  861.593242
328  Congo, Dem. Rep.  1972  23007669.0    Africa   45.989  904.896068
329  Congo, Dem. Rep.  1977  26480870.0    Africa   47.804  795.757282
330  Congo, Dem. Rep.  1982  30646495.0    Africa   47.784  673.747818
331  Congo, Dem. Rep.  1987  35481645.0    Africa   47.412  672.774812
332  Congo, Dem. Rep.  1992  41672143.0    Africa   45.548  457.719181
333  Congo, Dem. Rep.  1997  47798986.0    Africa   42.587  312.188423
334  Congo, Dem. Rep.  2002  55379852.0    Africa   44.966  241.165876
335  Congo, Dem. Rep.  2007  64606759.0    Africa   46.462  277.551859

In [108]:
data

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [14]:
x

     ISO           countries
0    AFG         Afghanistan
1    ALB             Albania
2    DZA             Algeria
3    AGO              Angola
4    ARG           Argentina
..   ...                 ...
137  VNM             Vietnam
138  PSE  West Bank and Gaza
139  YEM         Yemen, Rep.
140  ZMB              Zambia
141  ZWE            Zimbabwe

[142 rows x 2 columns]

In [17]:
ISO = []
for i in data["country"]:
    ISO+=[x["ISO"][x[x['countries']==i].index[0]]]

In [18]:
ISO

['AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'AFG',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'ALB',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'DZA',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'AGO',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'ARG',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUS',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'AUT',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BHR',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BGD',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEL',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BEN',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BOL',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BIH',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BWA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BRA',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BGR',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BFA',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'BDI',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'KHM',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CMR',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAN',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'CAF',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'TCD',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHL',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'CHN',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COL',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COM',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COD',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'COG',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CRI',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'CIV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'HRV',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CUB',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'CZE',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DNK',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DJI',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'DOM',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'ECU',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'EGY',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'SLV',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'GNQ',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ERI',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'ETH',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FIN',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'FRA',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GAB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'GMB',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'DEU',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GHA',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GRC',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GTM',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GIN',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'GNB',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HTI',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HND',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HKG',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'HUN',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'ISL',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IND',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IDN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRN',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRQ',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'IRL',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ISR',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'ITA',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JAM',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JPN',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'JOR',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'KEN',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'PRK',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KOR',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'KWT',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LBN',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LSO',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBR',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'LBY',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MDG',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MWI',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MYS',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MLI',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MRT',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MUS',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MEX',
 'MNG',
 'MNG',
 'MNG',
 'MNG',
 ...]

In [19]:
data["ISO"] = [x["ISO"][x[x['countries']==i].index[0]] for i in data["country"] ]

In [20]:
data

          country  year         pop continent  lifeExp   gdpPercap  ISO
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314  AFG
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030  AFG
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710  AFG
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138  AFG
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106  AFG
...           ...   ...         ...       ...      ...         ...  ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306  ZWE
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786  ZWE
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960  ZWE
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623  ZWE
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298  ZWE

[1704 rows x 7 columns]

In [21]:
data.to_csv("updated.csv")

In [22]:
data = pd.read_csv("updated.csv")

In [23]:
country_name="India"

In [24]:
data[data["country"]==country_name]

,Unnamed: 0,country,year,pop,continent,lifeExp,gdpPercap,ISO
696,696,India,1952,3.720000e+08,Asia,37.373,546.565749,IND
697,697,India,1957,4.090000e+08,Asia,40.249,590.061996,IND
698,698,India,1962,4.540000e+08,Asia,43.605,658.347151,IND
699,699,India,1967,5.060000e+08,Asia,47.193,700.770611,IND
700,700,India,1972,5.670000e+08,Asia,50.651,724.032527,IND
701,701,India,1977,6.340000e+08,Asia,54.208,813.337323,IND
702,702,India,1982,7.080000e+08,Asia,56.596,855.723538,IND
703,703,India,1987,7.880000e+08,Asia,58.553,976.512676,IND
704,704,India,1992,8.720000e+08,Asia,60.223,1164.406809,IND
705,705,India,1997,9.590000e+08,Asia,61.765,1458.817442,IND
706,706,India,2002,1.034173e+09,Asia,62.879,1746.769454,IND
707,707,India,2007,1.110396e+09,Asia,64.698,2452.210407,IND

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1704 non-null   int64
 1   country     1704 non-null   object
 2   year        1704 non-null   int64
 3   pop         1704 non-null   float64
 4   continent   1704 non-null   object
 5   lifeExp     1704 non-null   float64
 6   gdpPercap   1704 non-null   float64
 7   ISO         1704 non-null   object
dtypes: float64(3), int64(2), object(3)
memory usage: 106.6+ KB

In [26]:
data[data["year"]==2007].sort_values(by="pop",ascending=False)

,Unnamed: 0,country,year,pop,continent,lifeExp,gdpPercap,ISO
299,299,China,2007,1.318683e+09,Asia,72.961,4959.114854,CHN
707,707,India,2007,1.110396e+09,Asia,64.698,2452.210407,IND
1619,1619,United States,2007,3.011399e+08,Americas,78.242,42951.653090,USA
719,719,Indonesia,2007,2.235470e+08,Asia,70.650,3540.651564,IDN
179,179,Brazil,2007,1.900106e+08,Americas,72.390,9065.800825,BRA
...,...,...,...,...,...,...,...,...
1019,1019,Montenegro,2007,6.847360e+05,Europe,74.543,9253.896111,MNE
491,491,Equatorial Guinea,2007,5.512010e+05,Africa,51.579,12154.089750,GNQ
431,431,Djibouti,2007,4.963740e+05,Africa,54.791,2082.481567,DJI
695,695,Iceland,2007,3.019310e+05,Europe,81.757,36180.789190,ISL
1307,1307,Sao Tome and Principe,2007,1.995790e+05,Africa,65.528,1598.435089,STP

In [27]:
data.drop(columns="Unnamed: 0",inplace=True)

In [28]:
data

          country  year         pop continent  lifeExp   gdpPercap  ISO
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314  AFG
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030  AFG
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710  AFG
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138  AFG
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106  AFG
...           ...   ...         ...       ...      ...         ...  ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306  ZWE
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786  ZWE
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960  ZWE
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623  ZWE
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298  ZWE

[1704 rows x 7 columns]

In [29]:
data1=data.groupby(["country","continent","ISO"])[["pop","lifeExp","gdpPercap"]]

In [30]:
data1 = data[data["year"]==2007]
data1

,country,year,pop,continent,lifeExp,gdpPercap,ISO
11,Afghanistan,2007,31889923.0,Asia,43.828,974.580338,AFG
23,Albania,2007,3600523.0,Europe,76.423,5937.029526,ALB
35,Algeria,2007,33333216.0,Africa,72.301,6223.367465,DZA
47,Angola,2007,12420476.0,Africa,42.731,4797.231267,AGO
59,Argentina,2007,40301927.0,Americas,75.320,12779.379640,ARG
...,...,...,...,...,...,...,...
1655,Vietnam,2007,85262356.0,Asia,74.249,2441.576404,VNM
1667,West Bank and Gaza,2007,4018332.0,Asia,73.422,3025.349798,PSE
1679,"Yemen, Rep.",2007,22211743.0,Asia,62.698,2280.769906,YEM
1691,Zambia,2007,11746035.0,Africa,42.384,1271.211593,ZMB
1703,Zimbabwe,2007,12311143.0,Africa,43.487,469.709298,ZWE

In [31]:
data2 =data1[data1["continent"]=="Asia"]

In [32]:
data2=data2.sort_values(by="pop",ascending=False)

In [33]:
data2 = data2[0:10]

In [34]:
data2

          country  year           pop continent  lifeExp     gdpPercap  ISO
299         China  2007  1.318683e+09      Asia   72.961   4959.114854  CHN
707         India  2007  1.110396e+09      Asia   64.698   2452.210407  IND
719     Indonesia  2007  2.235470e+08      Asia   70.650   3540.651564  IDN
1175     Pakistan  2007  1.692706e+08      Asia   65.483   2605.947580  PAK
107    Bangladesh  2007  1.504483e+08      Asia   64.062   1391.253792  BGD
803         Japan  2007  1.274680e+08      Asia   82.603  31656.068060  JPN
1223  Philippines  2007  9.107729e+07      Asia   71.688   3190.481016  PHL
1655      Vietnam  2007  8.526236e+07      Asia   74.249   2441.576404  VNM
731          Iran  2007  6.945357e+07      Asia   70.964  11605.714490  IRN
1535     Thailand  2007  6.506815e+07      Asia   70.616   7458.396327  THA

In [38]:
continent = "Asia"
values='pop'

In [41]:
data1 = data[data["year"]==2007]
data2 = data1[data1["continent"]==continent]
data2 = data2.sort_values(by=values,ascending=False)
data2 = data2[0:10]

In [44]:
data2.reset_index()

,index,country,year,pop,continent,lifeExp,gdpPercap,ISO
0,299,China,2007,1.318683e+09,Asia,72.961,4959.114854,CHN
1,707,India,2007,1.110396e+09,Asia,64.698,2452.210407,IND
2,719,Indonesia,2007,2.235470e+08,Asia,70.650,3540.651564,IDN
3,1175,Pakistan,2007,1.692706e+08,Asia,65.483,2605.947580,PAK
4,107,Bangladesh,2007,1.504483e+08,Asia,64.062,1391.253792,BGD
5,803,Japan,2007,1.274680e+08,Asia,82.603,31656.068060,JPN
6,1223,Philippines,2007,9.107729e+07,Asia,71.688,3190.481016,PHL
7,1655,Vietnam,2007,8.526236e+07,Asia,74.249,2441.576404,VNM
8,731,Iran,2007,6.945357e+07,Asia,70.964,11605.714490,IRN
9,1535,Thailand,2007,6.506815e+07,Asia,70.616,7458.396327,THA